<% if @article.errors.any? %>
  <h2> The following errors prevented article from being saved</h2>
  <ul>
    <% @article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>