<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Gladwin Ramantso", "https://github.com/tsheporamantso", class: "text-light text-decoration-none" %></small>
  </div>
</footer>